<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.core.board.model.mapper.CommentMapper">

  <insert id="insertComment" parameterType="comment">
    <selectKey resultType="Long" keyProperty="commentId" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into comment (user_id, board_id, content)
    values (#{userId}, #{boardId}, #{content})
  </insert>

  <select id="selectComment" resultType="comment">
    select *
    from comment
    where comment_id = #{commentId};
  </select>

  <select id="selectAll" resultType="comment">
    select *
    from comment
    where board_id = #{boardId}
  </select>

  <update id="updateComment" parameterType="comment">
    update comment
    set content        = #{content},
        current_update = now()
    where comment_id = #{commentId}
  </update>

  <delete id="deleteComment" parameterType="Long">
    delete
    from comment
    where comment_id = #{commentId}
  </delete>

  <delete id="deleteAll" parameterType="Long">
    delete
    from comment
    where board_id = #{boardId}
  </delete>

</mapper>
