<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.core.hotplace.model.mapper.HotPlaceMapper">

  <resultMap id="hotPlace" type="com.ssafy.enjoytrip.core.hotplace.model.entity.HotPlace">
    <id column="hot_place_id" property="hotPlaceId"/>
    <result column="hot_place_name" property="hotPlaceName"/>
    <result column="road_address_name" property="roadAddressName"/>
    <result column="address_name" property="addressName"/>
    <result column="place_url" property="placeUrl"/>
    <result column="vote" property="vote"/>
    <result column="x" property="x"/>
    <result column="y" property="y"/>
  </resultMap>

  <resultMap id="combinedResultMap" type="HotPlace">
    <result column="hot_place_id" property="hotPlaceId"/>
    <result column="hot_place_name" property="hotPlaceName"/>
    <result column="x" property="x"/>
    <result column="y" property="y"/>
    <result column="vote" property="vote"/>
    <result column="place_url" property="placeUrl"/>
    <result column="road_address_name" property="roadAddressName"/>
    <result column="address_name" property="addressName"/>
    <collection property="hotPlaceArticles" ofType="HotPlaceArticle">
      <result column="hot_place_article_id" property="hotPlaceArticleId"/>
      <result column="hot_place_id" property="hotPlaceId"/>
      <result column="hot_place_name" property="hotPlaceName"/>
      <result column="user_id" property="userId"/>
      <result column="content" property="content"/>
      <result column="create_at" property="createAt"/>
      <result column="image_url" property="imageUrl"/>
    </collection>
    <collection property="hotPlaceTags" ofType="HotPlaceTag">
      <result column="tag_name" property="tagName"/>
      <result column="hot_place_id" property="hotPlaceId"/>
      <result column="count" property="count"/>
    </collection>
  </resultMap>


  <insert id="insertHotPlace" parameterType="hotPlace">
    insert into hot_place (hot_place_id, hot_place_name, road_address_name, address_name, place_url,
                           x, y)
    values (#{hotPlaceId}, #{hotPlaceName}, #{roadAddressName}, #{addressName}, #{placeUrl}, #{x},
            #{y})
  </insert>


  <select id="selectAllHotPlace" resultMap="hotPlace">
    select hot_place_id, hot_place_name
    from hot_place
    <where>
      <if test="keyword != null and keyword != ''">
        and hot_place_name like concat('%', #{keyword}, '%')
      </if>
    </where>
    order by vote desc
  </select>
  <select id="selectHotPlaceByHotPlaceId" resultType="hotPlace">
    select *
    from hot_place
    where hot_place_id = #{hotPlaceId}
  </select>

  <select id="selectAllByHotPlaceId" resultMap="combinedResultMap">
    select hp.*,
           hpa.*,
           hpt.*
    from hot_place hp
           left join hot_place_article hpa on hp.hot_place_id = hpa.hot_place_id
           left join hot_place_tag hpt on hp.hot_place_id = hpt.hot_place_id
    where hp.hot_place_id = #{hotPlaceId}
  </select>

  <update id="updateHotPlace">
    update hot_place
    set hot_place_name    = #{hotPlaceName},
        road_address_name = #{roadAddressName},
        address_name      = #{addressName},
        place_url         = #{placeUrl},
        x                 = #{x},
        y                 = #{y},
        vote              = #{vote}
    where hot_place_id = #{hotPlaceId}
  </update>
</mapper>
