<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.core.hotplace.model.mapper.HotPlaceTagMapper">

  <resultMap id="hotPlaceTag" type="com.ssafy.enjoytrip.core.hotplace.model.entity.HotPlaceTag">
    <id column="hot_place_tag_id" property="hotPlaceTagId"/>
    <result column="tag_name" property="tagName"/>
    <result column="hot_place_id" property="hotPlaceId"/>
    <result column="count" property="count"/>
  </resultMap>

  <insert id="insertTags" parameterType="List">
    insert into hot_place_tag (tag_name, hot_place_id, count)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.tagName}, #{item.hotPlaceId}, #{item.count})
    </foreach>
  </insert>

  <select id="selectHotPlaceTagList" resultMap="hotPlaceTag">
    select *
    from hot_place_tag
    where hot_place_id = #{hotPlaceId}
    order by count desc limit 5
  </select>

  <select id="selectHotPlaceTagIdByTagNameAndHotPlaceId" resultType="Long">
    select hot_place_tag_id
    from hot_place_tag
    where tag_name = #{tagName}
      and hot_place_id = #{hotPlaceId}
  </select>


  <update id="increaseTagCount">
    update hot_place_tag
    set count = count + 1
    where hot_place_tag_id = #{hotPlaceTagId}
  </update>

  <select id="findById" resultMap="hotPlaceTag">
    select *
    from hot_place_tag
    where hot_place_tag_id = #{hotPlaceTagId}
  </select>
</mapper>
