<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.core.hotplace.model.mapper.HotPlaceArticleImageMapper">

  <resultMap id="hotPlaceArticleImage"
    type="com.ssafy.enjoytrip.core.hotplace.model.entity.HotPlaceArticleImage">
    <id property="hotPlaceArticleImageId" column="hot_place_article_image_id"/>
    <result property="hotPlaceArticleId" column="hot_place_article_id"/>
    <result property="imageUrl" column="image_url"/>
  </resultMap>

  <insert id="insertFile">
    INSERT INTO hot_place_article_image (hot_place_article_id, image_url)
    VALUES
    <foreach collection="imageFiles" item="imageFile" separator=",">
      (#{imageFile.hotPlaceArticleId}, #{imageFile.imageUrl})
    </foreach>
  </insert>
  
</mapper>
