<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ssafy.enjoytrip.user.model.mapper.UserMapper">
  <resultMap id="user" type="user">
    <id property="userId" column="user_id"/>
    <result property="name" column="name"/>
    <result property="address" column="address"/>
    <result property="password" column="password"/>
    <result property="salt" column="salt"/>
    <result property="email" column="email"/>
  </resultMap>

  <select id="selectByUserId" parameterType="string" resultType="user">
    select *
    from user
    where user_id = #{userId};
  </select>

  <insert id="insertByUser" parameterType="user">
    insert into user(user_id, name, address, password, email, salt) value (#{userId},#{name},#{address},#{password},#{email},#{salt});
  </insert>

  <update id="updateByUser" parameterType="string">
    update user
    set name    = #{name},
        address=#{address},
        password=#{password},
        email=#{email}
    where user_id = #{userId};
  </update>

  <delete id="deleteByUserId" parameterType="string">
    delete
    from user
    where user_id = #{userId};
  </delete>
</mapper>
